.Auth{
	margin:  auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	color: white;
	border-radius: 5px;
	height: 100vh
}

.Auth2{
	background: black;
	width: 30%;
	display: flex;
	padding: 20px;
	border-radius: 10px;
	height: 500px;

}
input{
	width: 200%;
	background: black;
	color: white;
	border-radius: 20%;
	outline: 2px solid grey;

}